@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--etn: #2AB1F3;
	}

}

body {
	font-family: var(--font-sans);
	-webkit-tap-highlight-color: transparent;
	/* padding-top: env(safe-area-inset-top); */
}

.safe-area {
	padding-top: env(safe-area-inset-top);
}